{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

<center><h1> All Passwords </h1></center> &nbsp;&nbsp;
<table class="table table-hover" id="table">
    <thead class="table-light"> 
    <tr>
        <th>ID</th>
        <th>Application Name</th>
        <th>Application User Name</th>
        <th>Password</th>
        <th>Date Added</th>
        <th>Last Updated</th>
        <th></th>
    </tr>
    </thead>
    {% for pwd in all_passwords %}
    <tr>
        <td class="table-cell" data-bs-toggle="tooltip" data-bs-placement="top" title="click to copy">{{pwd.id}}</td>
        <td class="table-cell" data-bs-toggle="tooltip" data-bs-placement="top" title="click to copy">{{pwd.appli_name}}</td>
        <td class="table-cell" data-bs-toggle="tooltip" data-bs-placement="top" title="click to copy">{{pwd.appli_user_name}}</td>
        <td class="table-cell" data-bs-toggle="tooltip" data-bs-placement="top" title="click to copy">{{pwd.password}}</td>
        <td class="table-cell" data-bs-toggle="tooltip" data-bs-placement="top" title="click to copy">{{pwd.date_added}}</td>
        <td class="table-cell" data-bs-toggle="tooltip" data-bs-placement="top" title="click to copy">{{pwd.last_updated}}</td>
        <td><a href="{{ url_for('update_password',id=pwd.id) }}" class="btn btn-outline-secondary btn-sm"> Update </a></td>
    </tr>
    {% endfor %}
</table>
<script src="{{ url_for('static', filename='js/copyButton.js')}}"></script>

<center>
<a href="{{ url_for('create_passwords') }}" class="btn btn-primary btn-lg"> Create a Password </a>
</center>

{% endblock %}

