{% extends 'base.html' %}

{% block content %}


{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor %}

{% if old_record.creator.id == current_user.id %}
<h1>Update Password</h1>
<br>
<form action="/update-password/{{old_record.id}}" method="POST">
    {{ form.hidden_tag() }}
<!-- 
    {{ form.user.label(class="form-label")}}
    {{ form.user(class="form-control", value=old_record.user)}}
    <br> -->
    {{ form.appli_name.label(class="form-label")}}
    {{ form.appli_name(class="form-control", value=old_record.appli_name)}}
    <br>

    {{ form.appli_user_name.label(class="form-label")}}
    {{ form.appli_user_name(class="form-control", value=old_record.appli_user_name)}}
    <br>

    {{ form.password.label(class="form-label")}}
    {{ form.password(class="form-control", value=old_record.password)}}

    <br>
    {{ form.generate(class="btn btn-secondary")}} &nbsp;&nbsp;&nbsp; {{ form.submit(class="btn btn-primary")}} &nbsp;&nbsp;&nbsp;
    <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
        <a href="{{ url_for('delete_password', id=old_record.id)}}" class="btn btn-danger">Delete</a>
    </div>
</form>


<br><br>
{%else%}

<h2> You cannot edit this password !! </h2>

{%endif%}
{% endblock %}

